<h1 class="text-center">Dash Bords</h1>
<h3 class="text-center"><%= current_user.name %></h3>
  <div class="col-12">
    <%= link_to "編集", edit_user_registration_path, class: "btn btn-primary col-4 offset-4" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-warning col-4 offset-4" %>
  </div>
